#sort {
	margin-bottom: 10px;
}
#inline-sort {
	float: left;
	padding-right: 10px;
	padding-top: 5px;
}
#contentid {
	clear: both;
	padding: 15px;
}
#sidebar-id {
	text-align: center;
}
#registrationid {
	padding: 35px;
	margin: 20px;
}
.subheading {
	padding-bottom: 15px;
}
.post {
	clear: both;
	padding: 10px;
	margin: 15px;
	margin-bottom: 30px;
}
.hover {
	outline: 0.5px solid rgb(217,91,67);
}
.post-left {
	padding: 5px;
}
.right-post {
	padding-left: 15px;
	padding-right: 15px;
}
.interest {
	font-family: 'Overlock', 'sans-serif';
	text-align: center;
	font-size: 2em;
	padding-top: 15px;
	padding-bottom: 10px;
	margin-top: 5px;
}
.title {
	font-family: 'Overlock', 'sans-serif';
	font-size: 2.3em;
	border-bottom: 1px dotted #a9a9a9;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 15px;
	margin-right: 10px;
	padding-left: 15px;
}
.date, .time, .place {
	font-family: 'Chivo', 'sans-serif';
	text-align: center;;
	font-size: 1.3em;
	padding-top: 15px;
	padding-right: 25px;
	padding-bottom: 5px;
	padding-left: 20px;
}
.description, .host {
	font-family: 'Overlock', 'sans-serif';
	font-size: 1.3em;
	padding-top: 7px;
	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
}
.error-box {
	text-align: center;
}

/* unvisited link */
a:link .lit-heading {
    color: rgb(217,91,67);
    text-decoration: none;
}

/* visited link */
a:visited .lit-heading {
    color: rgb(217,91,67);
    text-decoration: none;
}

/* mouse over link */
a:hover .lit-heading {
    color: red;
    text-decoration: none;
}

/* selected link */
a:active .lit-heading {
   	color: rgb(217,91,67);
    text-decoration: none;
}