body {
	margin: 0;
	background-size: 100%;
	background-repeat:no-repeat;
	display: compact;
}
#sort {
	margin-bottom: 10px;
}
#inline-sort {
	float: left;
	padding-right: 10px;
	padding-top: 5px;
}
#contentid {
	clear: both;
	padding: 15px;
}
#sidebar-id {
	text-align: center;
}
#registrationid {
	padding: 35px;
	margin: 20px;
}
.subheading {
	font-family: 'Raleway',sans-serif;
	font-size: 2em;
	padding-bottom: 15px;
}
.post {
	clear: both;
	padding: 10px;
	margin: 15px;
	margin-bottom: 30px;
}
.hover {
	outline: 0.5px solid rgb(217,91,67);
}
.post-left {
	padding: 5px;
}
.right-post {
	padding-left: 15px;
	padding-right: 15px;
}
.interest {
	font-family: 'Chivo', sans-serif;
	text-align: center;
	font-size: 1em;
	padding-top: 15px;
	padding-bottom: 10px;
	margin-top: 5px;
}
.title {
	font-family: 'Raleway', sans-serif;
	font-size: 2.3em;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 15px;
	margin-right: 10px;
	padding-left: 15px;
	border-left: 4px dotted #a9a9a9;
}
.date, .time, .place {
	font-family: 'Chivo', sans-serif;
	text-align: center;;
	font-size: 1.3em;
	padding-top: 15px;
	padding-right: 25px;
	padding-bottom: 5px;
	padding-left: 20px;
}
.description, .host {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
	padding-top: 7px;
	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
	border-left: 4px dotted #a9a9a9;
}
.description {
	font-family: 'Source Sans Pro',sans-serif;
}
.host {
	font-family: 'Chivo', sans-serif;
	font-size: 1em;
}
.error-box {
	text-align: center;
}
.jumbotron {
   background: rgba(11,72,107, 0.6); 
   color: rgb(255, 255, 255);
   font-family: 'Chivo', sans-serif;
}
.comment-container {
	font-family: 'Chivo', sans-serif;
	padding: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 2px;
}
.left-comment-pane {
	text-align: center;
}
.right-comment-pane {
	border-left: 1px solid #a9a9a9;
	padding-left: 30px;	
}
.comment-name {
	font-size: 0.9em;
	padding-bottom: 5px;
}
.comment, .score {
	font-family: 'Chivo', sans-serif;
	font-size: 1.1em;
}
.comment-time {
	font-size: 0.8em;
}
.cUpvote, .cDownvote {
	color: #a9a9a9;
}
.red {
	color: red;
}
.green {
	color: green;
}
.send-style {
	font-family: 'Chivo', sans-serif;
	text-align: center;
	margin-bottom: 10px;
	padding-top: 20px;
}
#comment-feedback {
	font-family: 'Chivo', sans-serif;
	text-align: left;
	font-size: 0.9em;
	padding-left: 20px;
	color: #a9a9a9;
}
.noti {
	background-color: #69D2E7;
	font-family: 'Chivo', sans-serif;
	font-size: 1em;
}
.cName {
	font-size: 0.9em;
}
.cPost {
	font-style: italic;
	font-size: 0.8em;
}
.notification-box {
	padding-left: 30px;	
}
.no-notifications {
	font-size: 1.2em;
	color: #a9a9a9;
	text-align: center;
	margin: 8px;
	padding: 8px;
}
.seeAll {
	text-align: center;
	font-size: 0.8em;
	margin: -2px;
	color: #69D2E7;
}
.notification-container {
	font-family: 'Chivo', sans-serif;
	padding: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 2px;
}
.notificationhover {
	background-color: #EDF4F5;
}
.lit-heading {
	font-family: 'Chivo',sans-serif;
}


/* unvisited link */
a:link .lit-heading {
    color: rgb(217,91,67);
    text-decoration: none;
}

/* visited link */
a:visited .lit-heading {
    color: rgb(217,91,67);
    text-decoration: none;
}

/* mouse over link */
a:hover .lit-heading {
    color: red;
    text-decoration: none;
}

/* selected link */
a:active .lit-heading {
   	color: rgb(217,91,67);
    text-decoration: none;
}	